// .btn {
//   transition: all 0.3s ease;
//   padding: 20px 50px;
//   border-radius: 5px;
//   &:hover {
//     box-shadow: 0 8px 20px rgba(127, 203, 185, 0.3);
//     transform: scale(1.03);
//   }
// }

// Button Override
.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 7px;
}

.btn-lg {
  padding: 20px 50px;
}

.btn-light {
  color: $primary;
  &:hover {
    color: $primary;
  }
}

.btn-zoom {
  transition: all 0.3s ease;
  transform: scale(1);
  &:hover {
    box-shadow: 0 8px 20px rgba(96, 191, 168, 0.3)!important;
    transform: scale(1.03);
  }
}

.btn-primary {
  background-color: #60bfa8;
  border-color: #60bfa8;
  box-shadow: none;
}

.btn-primary:active {
  background-color: #4c9886!important;
  border-color: #4c9886!important;
}

.btn-primary:hover {
  background-color: #7fcbb9;
  border-color: #7fcbb9;
}

.btn-primary:not(:disabled):not(.disabled).active {
  background-color: #7fcbb9;
  border-color: #7fcbb9;
}

.btn-primary:focus {
    background-color: #7fcbb9;
  border-color: #7fcbb9;
}

.dropdown-toggle {
  border-color: #7fcbb9;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
